body{
    background-color: slategrey;
}
h1{
    position: relative;
    color:azure;
    font-family: sans-serif;
    font-size: 200%;
}
h2{
    color:azure;
    font-family: sans-serif;
    font-size: 150%;
}
p{
    color:azure;
    font-family: sans-serif;
    font-size: 100%;
}
a{
    color: lightskyblue;
    text-decoration: none;
}
a:hover{
    color:lightblue;
}
