body{
    background-color: slategrey;
}
h1{
    position: relative;
    color:azure;
    font-family: sans-serif;
    font-size: 200%;
    text-align:center;
}
h2{
    color:azure;
    font-family: sans-serif;
    font-size: 150%;
    text-align:center;
}
p{
    color:azure;
    font-family: sans-serif;
    font-size: 100%;
    text-align:center;
}
a{
    color: azure;
    text-decoration: none;
}
a:hover{
    color:lightblue;
}
