html{
    background-color: #708090;
    font-family: 'Roboto', sans-serif;

    
}
p{
    font-size: 20px;
    color: aliceblue;
    text-align: center;
}
a{
    color: aliceblue;
    text-decoration: none;
    transition: opacity 150ms;
}
a:hover{
    opacity: 0.5;

}
img{
    width: 50px;
    height: 50px;
    transition: opacity 150ms, width 150ms, height 150ms, margin 150ms;
    margin: 5px;
}

.Index-Title{
    font-size: 50px;
}

.Page-Link{
    font-size: 50px;
    text-decoration: none;
    color: aliceblue;
    transition:  opacity 150ms, line-height 150ms, font-size 150ms;
    font-weight: bold;
    line-height: 30px;
}
.Page-Link:hover{
    font-size: 52px;
    line-height:29px;
    opacity: 0.5;
    
}
.Title-Portfolio-Links{
    font-size: 30px;
    font-weight: bold;
}

.img-Link:hover{
    opacity: 0.5;
    width: 52px;
    height: 52px;
    margin: 4px;
}


.Games-Title{
    font-size: 50px;
}
.Game-Link{
    font-size: 40px;
}
button{
    margin-left: auto;
    margin-right: auto;
    background: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    font-size: 20px;
}
.cookie{
    text-align: center;
}
.counter{
    text-align: center;
}   
.store{
    text-align: center;
    line-height: 40px;
}
.cookie-image{
    width: 100px;
    height: 100px; 
    transition:  width 150ms, height 150ms, margin-bottom 150ms;
    margin-bottom: 20px;
}
.cookie-image:hover{
    width:102px;
    height:102px;
    margin-bottom: 18px;
    cursor: grabbing;

}

.cookie-image:active{
    width: 110px;
    height: 110px;
    margin-bottom: 10px;
}
